*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size:2em;
    min-height:100vh;
    font-family: 'Arial', sans-serif;
}
header{
    background-color: black;
     /* display:flex; */
    color:white;
    justify-content: space-evenly; 
    align-items: center;
    margin-bottom: 10px;
    padding:15px;
   
    
}
div{
    display:flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
   margin:0 auto;
   padding:0 20px;
}
header h1{
    flex-grow: 1;
    font-size: larger;
    margin:0;
    
}
 ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 25px;
    font-size:1.5rem;
 
     
}
li a{
    text-decoration: none;
    color:white;
    padding: 5px 10px;
    transition: color 0.3s ease;
}
main{
    display: grid;
   grid-template-columns: 2fr 2fr; 
   justify-content: center;
   padding: 20px;
 } 

.product{
background-color: rgb(253, 253, 253); 
margin: 10px;
padding: 20px;

box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
text-align: center;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product h2{
    margin-bottom:15px;
    font-family: 'Times New Roman', Times, serif;
}
.product p{
    text-decoration: underline;
    
       color: black;
    padding-bottom: 15px;
}
button {
    padding: 15px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
 }
 
 button:hover {
     background-color: #007BFF;
     color: #fff;
 }
 
footer{
    position:sticky;
    background-color: black;
    color:#fff;
    width: 100%;
    text-align: center;
   

}
span:hover{
    text-decoration: underline;
    cursor:pointer;
}

img {
    width: 50%; /* Adjust as needed */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

img:hover {
    transform: scale(1.1); 
}
.f {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 1000;
 }


